:root {
  --full-height: 100vh;

  --color-one: #070707;
  --color-two: #ec5cbb;
  --color-three: #3524fe;
  --color-four: #611c1e;
  --color-five: #fc1c14;
  --color-six: #696969;

  --content-width: 1300px;

  --nav-color: var(--color-four);
  --text: var(--color-one);
  --link: var(--color-three);
  --content-bg-color: #fff;

  --break-tablet: 1150px;
  --break-mobile: 769px;
}
