.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 50px;
  padding: 15px 50px;
  border-left: 1px solid #000;
}

.sidebar__title {
  text-align: center;
}

.sidebar__discription {
  li {
    list-style: none;
    font-size: .9em;
    color: var(--color-six);
    margin: 5px 0;
  }
  span {
    display: inline-block;
    width: 50%;
    margin: 0;
    &:first-of-type {
      font-weight: 600;
    }
  }
}